@{
    ViewData["Title"] = "Front Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GT-Find</h1>
    <p>Look for team mates for any kind of game, never play alone again!</p>
    <p>Create a profile and start searching for team mates.</p>
    <p>Choose your games and preferences and make friends.</p>
    <p>Our algorithm makes sure you match with the best people for you!</p>
</div>
