.login-container, .signup-container {
    max-width: 400px;
    margin: auto;
    padding-top: 100px;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    font-size: 1rem; /* Adjust the font size of the button text */
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}
